<div class="row">
  <div class="span6 offset3">
    <%= form_for @keyword do |f| %>
        
      <%= f.label :keyword %><br>
      <%= f.text_field :keyword %>
            
      <%= f.submit "Add", class: "btn btn-large btn-primary" %>
      
      <%= render 'error' %>
      
    <% end %>
  </div>
</div>
