<div style="float: left;">
  <%= image_tag(current_user.image) %> 
</div>
<h2> <%= current_user.name %></h2>

<%= form_for @keyword do |f| %>

  <h4> Keyword </h4>
  <%= f.text_field :keyword %><br/>

  <%= f.submit "Update", class: "btn btn-medium btn-primary" %>

  <%= render 'error' %>

<% end %>



