<script>
  $(document).ready(function() {
    
    $('#toggleKeywordAdd').click(function() {
      $('#new_phrase').toggle();
    });
    
    $("button[id^='button-edit']").click(function() {
      //alert('Getting here: '+this.id.split('-')[2]);
      show_edit(this.id.split('-')[2]);
    });
  });

  function show_edit(id) {
    var edit_div_id = '#edit-search-phrase-'.concat(id);

    $(edit_div_id).toggle();
  }
  
</script>

<%#*<div style="float: left;">%>
  <%#= image_tag(current_user.image) %> 
<%#*</div>%>
<h2> <%= current_user.name %></h2>

<div id='toggleKeywordAdd'>
  <button class="btn btn-primary"><i class="icon-white icon-plus"></i> Add Keyword</button>
</div>
<br/>

<div id="new_phrase" style="display:none">
  <%@search_phrase = SearchPhrase.new%>
  <%= render :partial => 'new' %>
</div>

<div id="result-table">
<% if !@search_phrases.empty? %>
  <table id='search-phrase-index' class="table table-bordered">

    <thead>
      <tr>
        <td><h4> Keywords </h4></td>
        <td><h4> Options  </h4></td>
      </tr>
    </thead>

    <tbody>
      <% @search_phrases.each do |keyword| %>
        <tr id='table-row-<%=keyword.id%>'>
          <td>
            <div id='search-phrase-<%=keyword.id%>'> <strong> <%= keyword.keyword %> </strong> </div>
            <div id="edit-search-phrase-<%=keyword.id%>" style="display:none">
              <%= render :partial => 'edit', :locals => {:search_phrase => keyword} %>
            </div>
          </td>
          <td>
            <button id="button-edit-<%=keyword.id%>" class="btn btn-info"><i class="icon-pencil icon-white"></i></button>
              <%= link_to content_tag(:i, "", class: "icon-trash icon-white"),# + "Delete",
                search_phrase_path(keyword), method: :delete, data: { confirm: 'Are you sure?' }, remote: true,
                  class: "btn btn-danger remove_fields" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
  </div>
