<!DOCTYPE html>
<html class="span7">
  <head>
    <title>Newsfeed</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="User_nav">
      <%if user_signed_in?%>
        Signed in as: <strong><%=current_user.email%></strong>
        <strong><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></strong> <br/>
      <%end%>
    </div>
    <%= yield %><br/><br/>
    <strong> Powered By </strong><br/>
    <%=  link_to image_tag('http://www.arkhitech.com/sites/default/files/3348_logo.png', size: '60'), 
      "http://arkhitech.com/" %>
  </body>
</html>
